<table>
  <tbody>
    <tr>
      <th>SPMC default URL</th>
      <td><input type="text" id="settings_server_default"
                     value="<%= settings['server_default'] %>"
             name="settings[server_default]" >
    </tr>
  </tbody>
</table>
